<div class="container">
 	<div class="row">
        <div class="col-md-12">
          <h1>About Us</h1>
          <p><em>WE’RE A DIGITAL MARKETING AND WEB DESIGN AGENCY.</em></p>
          <p>
            We combine research-driven strategy, inventive design, and clean coding to architect change and build the best experiences for our clients’ audiences.
Over the past 17 years, we’ve worked with many companies of all shapes and sizes. Some of our most commonly served industries include:
          </p>
        </div>
      </div>
</div>