<div class="container">

    <div class="row">
        <h1>Contact Us</h1>

        <div class="col-md-4">
  
          <br >

          <p>+92-1234567890</p>
          <p>abc@example.com</p>
          <p>
            <strong>ABC Company</strong>
            28 Kensington street <br >
            Brighton <br >
            East Sussex <br >
            BN1 4AJ<br >
            United Kingdom<br >
          </p>
        </div>

        <div class="col-md-8">
          <img class="img-responsive" width="100%" src="images/map.png">
        </div>
    </div>

</div>