<div class="container">
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>GUIDING YOU THROUGH <br > THE DIGITAL LANDSCAPE</h1>
        <p class="lead">Welcome to ABC Company, an award winning web design agency.
We guide businesses through the digital landscape, designing great experiences for your customers along the way</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
          <div ng-repeat="service in services">
          <div class="col-lg-4">
            <h2>{{service.name}}</h2>
            <p>{{service.description}}</p>
            <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>
      </div>

  </div>