<div class="container">
      <!-- Jumbotron -->
      <div class="jumbotron">
        <h1>GUIDING YOU THROUGH <br > THE DIGITAL LANDSCAPE</h1>
        <p class="lead">Welcome to ABC Company, an award winning web design agency.
We guide businesses through the digital landscape, designing great experiences for your customers along the way</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Get started today</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Web Design</h2>
          <p>Building on a rock solid foundation, our websites get your business results. From phones to laptops, your brand deserves the best online representation.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Illustrations & Animations</h2>
          <p>Illustrations and animations add a different level to your brands communication. Work with us on an animation or illustration project to further develop your brand.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Logo Design</h2>
          <p>Your brand is your business and we love building brands. Work with us to grow your brand beyond the screen, sharing every success along the way.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

  </div>