<div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1>Services We Offer</h1>
          <p>
            All digital projects have a lifecycle. Some maybe a quick, one-off campaign, whilst others may well be significantly more complex and long term. They may need to be intricately planned before a single line of code is created, or perhaps they simply need ongoing maintenance, support and optimisation. Whichever the scenario, our services have been specifically tailored around the digital project’s lifecycle.
          </p>
        </div>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="col-lg-4">
          <h2>Web Design</h2>
          <p>Building on a rock solid foundation, our websites get your business results. From phones to laptops, your brand deserves the best online representation.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Illustrations & Animations</h2>
          <p>Illustrations and animations add a different level to your brands communication. Work with us on an animation or illustration project to further develop your brand.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
          <h2>Logo Design</h2>
          <p>Your brand is your business and we love building brands. Work with us to grow your brand beyond the screen, sharing every success along the way.</p>
          <p><a class="btn btn-primary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

</div>